{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>We've {{ meals|length }} meals for you</h1>
    <section class="mt-5 d-flex gap-5 flex-wrap justify-content-center">
    {% for item in meals %}
        <div class="card" style="width: 18rem;">
            <img src={{item.strCategoryThumb}} class="card-img-top" alt="food_picture" />
            <div class="card-body bg-primary text-white">
                <h4 class="card-title fw-bold">{{item.strCategory}}</h4>
                <p class="card-text">{{item.strCategoryDescription | truncatewords:10}}</p>
            </div>
        </div>
    {% endfor %}
    </section>

{% endblock %}
