@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Lato:wght@300;400;700&family=Montserrat:wght@200;300;400;500&family=Poppins:wght@100;200;300;400&family=Roboto:wght@300;400&display=swap");

* {
    font-family: "Inter", sans-serif;
    font-family: "Lato", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Montserrat", sans-serif !important;
}

body::-webkit-scrollbar {
    height: 20px;
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #0e141a;
    box-shadow: inset 10px 10px 10px 10px black;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#562eff, #ff9db1);
}

::selection {
    background-color: #562eff;
    color: white;
}

#navbar {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
}

#searchBtn {
    background-color: #03012c;
    color: white !important;
}

#searchBtn:hover {
    color: white !important;
}

.carousel-item {
    height: 700px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.item2 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    font-family: "Poppins" !important;
    font-size: 60px;
    transform: translate(-50%, -50%);
}

#right-div {
    background-color: #9ad0c2 !important;
    color: white;
}

#gallery > #right-div {
    background-color: #ededed;
}

#browse-category {
    background-color: #eef5ff;
}

#category-group,
#card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#category-group > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 155px;
    width: 155px;
    border-radius: 10px;
    background-color: #9eb8d9;
    text-align: center;
    padding-top: 20px;
    color: black;
    font-weight: bolder;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    padding: 15px;
    color: white !important;
    border-radius: 10px !important;
    background-color: #363062 !important;
}

.card > div {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card p {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

.card h6 {
    font-style: italic;
    font-size: 25px;
}

.card > button {
    border: none;
    width: 150px;
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px;
    background-color: #eeeeee !important;
    font-weight: bold;
    margin-bottom: 15px;
}

#sale-section {
    background-color: #958ad4;
    padding: 10px;
    margin-top: 30px;
}

#sale-section > div:nth-child(3) {
    
}

#sale-ad-text {
    font-size: 60px;
}

#sale-ad-text > span:nth-child(1) {
    color: #25177b;
}

footer > * {
    background-color: #0e071b !important;
    color: white;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-list a {
    color: white;
}

#social-media-icon > a > img {
    height: 50px;
    width: 50px;
    color: white;
}
